@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        var count = 1;
        var id1;
        $("#btn3").click(function () {
            var divn = $("#txt2").val();
            var pos = $("#txt3").val();
            $.getJSON('api/reportdata/GetReportById?id=' + id1 + '&div=' + divn + '&pos=' + pos, function (responseDATA) {
                var item = "<h6>" + responseDATA + "</h6>";
                if (responseDATA == 0)
                {
                    alert("No devision on position " + pos);
                }
                else
                {
                    $('#table > tbody').append('<tr style="text-align: center;"><td> CASE ' + count + ' </td><td>' + divn + '</td><td>' + pos + '</td>' + '<td>' + item + '</td></tr>');
                count++;
                }
            });
        });
        $("#btn2").click(function () {
            $("#ShowData").empty();
        });

        $("#btn4").click(function () {
            //  $("#ShowRecord").empty();
            $("#table tbody").empty();
            count = 1;
        });

        $("#btn1").click(function () {
            var id = $("#txt1").val();
            if (id <= 3) {
                alert("Enter term after 3");
            }
            else if (id > 37)
            {
                alert("Series can't generated,term must be less than 37");
            }
            else
            {
                $.getJSON('api/reportdata/'+ id, function (responseDATA) {
                $.each(responseDATA, function (key, val) {
                    var item = "<span>" + val +" ," + "</span>";
                    $(item).appendTo("#ShowData");
                });
            });
            id1 = id;
            }

        });
    });
</script>

<style>
    table, td, th {
        border: 1px solid black;
    }

    th {
      text-align:center;
      padding:5px;
      color:#707B7C ;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        text-align: center;
    }
</style>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                Series: Addition of previous 3 number<br /><br />
                <input type="number" id="txt1" placeholder="Terms" class="form-control">
                <br>
                <input type="button" value="Series" id="btn1" class="btn btn-success" />
                <input type="button" value="Clear" id="btn2" class="btn btn-danger" />
                <br /><br />
                <div id="ShowData">
                   
                </div>
            </div>
            <div class="col-sm-6">
                <input type="number" id="txt2" placeholder="Divisor" class="form-control">
                <input type="number" id="txt3" placeholder="Number" class="form-control">
                <br>
                <input type="button" value="Test" id="btn3" class="btn btn-primary" />
                <input type="button" value="Clear" id="btn4" class="btn btn-warning" />
                <br/><br/>
                     <table id="table" border="1" style="width:100%;">
                         <thead>
                             <tr>
                                 <th></th>
                                 <th>Divisior</th>
                                 <th>Number</th>
                                 <th>Output</th>
                             </tr>
                         </thead>
                         <tbody>
                         </tbody>
                     </table>

                <div id="ShowRecord">
                </div>
            </div>
        </div>
    </div>

</div>